<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="nvm_wholesale" frontName="nvm_wholesale">
            <module name="Nvm_Wholesale" before="Magento_Backend"/>
        </route>
    </router>
</config>
